<div class="box-wrapper">
			<div class="row"><a href="/projects/index/"><i class="fa fa-arrow">Back</i></a></div>
			<div class="col-md-4">
				<div class="tasks ibox-content">
					<h3>Task - lists</h3>
					<p><i class="fa fa-hand-o-up"></i>Drag task between list</p>
					<%= form_for @new_task, :url => {:action => "create", :id => @new_task } do |f|%>
					<div class="input-group-btn">
						<% if @new_task.errors.any? %>
		      			<ul>
		      			  <%= @new_task.errors.full_messages.each do |msg| %>
		      			    <li><%= msg %></li>
		      			  <% end %>
		      			</ul>
		    			<% end %>
		    		</div>
		    		<div class="form-wrapper">
		    			<div class="form-group">
		    				<%= f.label :title%>
			    			<%= f.text_field :title, :class => "input input-sm form-control", :require => "required" %>
			    		</div>
			    		<div class="form-group">
			    			<%= f.label :description%>
			    			<%= f.text_area :description, :class => "input textarea input-sm form-control", :require => "required" %>
			    		</div>
			    		<div class="form-group">
			    			<%= f.label :duration%>
			    			<%= f.date_select :duration, :class => "form-control", :require => "required" %>
			    		</div>
			    		<div class="form-group hidden">
			    			<%= f.hidden_field :status, :class => "input input-sm form-control", :require => "required", value:"0" %>
			    			<%= f.hidden_field :project_id, :class => "input input-sm form-control", :require => "required", value:params[:project_id] %>
			    			<% if user_signed_in? %>
							    <%= f.hidden_field :member_id, required: true, class: 'form-control', value:current_user.email %>
							<% else %>
							    <%= f.hidden_field :member_id, required: true, class: 'form-control'%>
							<% end %>
			    		</div>
		    			<span class="input-group-btn">
		    			<%= content_tag :button, :type => "submit", :class => "btn btn-sm btn-white" do%>
		    			<i class="fa fa-plus"></i>
							Add Task
		    			<%end%>
		    			</span>
		    		</div>
					<% end %>
					<ul id="todo">
					<% @Tasks.each do |sip|%>
						<li class="draggable">
							<%= sip.title %>
							<div class="time-duration">
								<i class="fa fa-clock-o"></i>
								 <%if(sip.created_at)%>
								 <%= sip.created_at %>
								 <%else%>
								 13 Feb, 2017 02:25 PM
								 <%end%>
							</div>
							<%@id = sip.id %>
							<%= content_tag :a, href: "/tasks/edit?id=#{@id}", :class => "task_edit" do%>
				    			<i class="fa fa-edit"></i>
				    		<%end%>
							<%= content_tag :a, href: "/tasks/delete?id=#{@id}", :class => "task_delete", :confirm => "Are you sure want to delete?" do%>
				    			<i class="fa fa-trash"></i>
				    		<%end%>
						</li>
					<%end%>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tasks ibox-content">
					<h3>In Progress</h3>
					<p><i class="fa fa-hand-o-up"></i>Drag task between list</p>
					<ul id="todo">
					<% @Tasks_sip.each do |sip|%>
						<li class="draggable">
							<%= sip.title %>
							<div class="time-duration">
								<i class="fa fa-clock-o"></i>
								 <%if(sip.created_at)%>
								 <%= sip.created_at %>
								 <%else%>
								 13 Feb, 2017 02:25 PM
								 <%end%>
							</div>
							<%@id = sip.id %>
							<%= content_tag :a, href: "/tasks/edit?id=#{@id}", :class => "task_edit" do%>
				    			<i class="fa fa-edit"></i>
				    		<%end%>
							<%= content_tag :a, href: "/tasks/delete?id=#{@id}", :class => "task_delete", :confirm => "Are you sure want to delete?" do%>
				    			<i class="fa fa-trash"></i>
				    		<%end%>
						</li>
					<%end%>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tasks ibox-content">
					<h3>Completed</h3>
					<p><i class="fa fa-hand-o-up"></i>Drag task between list</p>
					<ul id="todo">
					<% @Tasks_completed.each do |completed| %>
						<li>
							<%= completed.title%>
							<div class="time-duration">
								<i class="fa fa-clock-o"></i>
								<%if(completed.created_at)%>
								 <%= completed.created_at %>
								 <%else%>
								 13 Feb, 2017 02:25 PM
								 <%end%>
							</div>
							<%= content_tag :a, href: "/tasks/edit?id=#{completed.id}", :class => "task_edit" do%>
				    			<i class="fa fa-edit"></i>
				    		<%end%>
							<%= content_tag :a, href: "/tasks/delete?id=#{completed.id}", :class => "task_delete", :confirm => "Are you sure want to delete?" do%>
				    			<i class="fa fa-trash"></i>
				    		<%end%>					
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>