<div class="box-wrapper">
			<div class="col-md-4">
				<div class="projects ibox-content">
					<h3>Projects</h3>
					<p><i class="fa fa-hand-o-up"></i>Drag project between list</p>
					<%= form_for @new_project, :url => {:action => "create", :id => @new_project } do |f|%>
					<div class="input-group-btn">
						<% if @new_project.errors.any? %>
		      			<ul>
		      			  <%= @new_project.errors.full_messages.each do |msg| %>
		      			    <li><%= msg %></li>
		      			  <% end %>
		      			</ul>
		    			<% end %>
		    			<%= f.text_field :name, :class => "input input-sm form-control", :require => "required" %>
		    			<span class="input-group-btn">
		    			<%= content_tag :button, :type => "submit", :class => "btn btn-sm btn-white" do%>
		    			<i class="fa fa-plus"></i>
							Add project
		    			<%end%>
		    			</span>
		    		</div>
					<% end %>
					<ul id="todo">
					<% @projects.each do |project|%>
						<li class="draggable">
							<%= content_tag :a, href: "/tasks/index?project_id=#{project.id}", :class => "project_link" do%>
				    			<span>Title: <%= project.name %></span>
				    			<p>Brief: <%= project.description %></p>
				    		<%end%>
							<div class="time-duration">
								<i class="fa fa-clock-o"></i>
								<%if(project.created_at)%>
								 <%= project.created_at %>
								 <%else%>
								 13 Feb, 2017 02:25 PM
								 <%end%>
							</div>
							<%= content_tag :a, href: "/projects/edit?id=#{project.id}", :class => "task_edit" do%>
				    			<i class="fa fa-edit"></i>
				    		<%end%>
							<%= content_tag :a, href: "/projects/delete?id=#{project.id}", :class => "project_delete", :confirm => "Are you sure want to delete?" do%>
				    			<i class="fa fa-trash"></i>
				    		<%end%>
						
						</li>
						<% end %>
					</ul>
				</div>
			</div>
</div>